<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true"  targetFramework="4.0" />
    </system.web>
	<connectionStrings>
		<!--<add name="myDbConnection" connectionString="Data Source=Server:\SQLEXPRESS;Integrated Security=true;Initial Catalog=registration" providerName="System.Data.SqlClient"/>-->
	<add name="myDbConnection"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=registration;Integrated Security=True;MultipleActiveResultSets=True"/>
	</connectionStrings>

</configuration>
